<form>
  <div class="form-group">
    <label for="startDate">Start Date:</label>
    <input type="date" name="startDate" [(ngModel)]="startDate">
  </div>

  <div class="form-group">
    <label for="endDate">End Date:</label>
    <input type="date" name="endDate" [(ngModel)]="endDate">
  </div>

  <div class="range-slider">
    <input type="range" min="1" max="10" class="slider" name="magnitude" [(ngModel)]="magnitude"
      (change)="mangitudeChangeHandler()">
    <p>Magnitude: <b>{{magnitude}}</b></p>
  </div>

</form>
